{% extends 'base.html' %}

{% block content %}
<h1>Admin Panel</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Is Admin</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user['id'] }}</td>
            <td>{{ user['username'] }}</td>
            <td>{{ user['email'] }}</td>
            <td>{{ user['is_admin'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
